[submodule "massa-proto-rs"]
	path = massa-proto-rs
	url = https://github.com/massalabs/massa-proto-rs.git
	branch = feature/Improve_ABI_types_in_wasmv1
[submodule "massa-proto-as"]
	path = massa-proto-as
	url = https://github.com/massalabs/massa-proto-as.git
	branch = feature/Improve_ABI_types_in_wasmv1_leo
[submodule "massa-rust-sc-sdk"]
	path = massa-rust-sc-sdk
	url = https://github.com/massalabs/massa-rust-sc-sdk.git
	branch = bilboquet/Improve_ABI_types_in_wasmv1_WIP
[submodule "massa-rust-sc-examples"]
	path = massa-rust-sc-examples
	url = https://github.com/massalabs/massa-rust-sc-examples.git
	branch = jf_tests
[submodule "as_abi_protobuf"]
	path = as_abi_protobuf
	url = https://github.com/massalabs/as_abi_protobuf.git
	branch = feature/Improve_ABI_types_in_wasmv1
[submodule "massa-sc-runtime"]
	path = massa-sc-runtime
	url = https://github.com/massalabs/massa-sc-runtime.git
	branch = feature/Improve_ABI_types_in_wasmv1_leo
